In [34]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [12]:
pd.set_option("display.max_rows", 1000)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 1000)

csv_data_path = Path("d:/Data/csv_data")

file_name = "Popular_Baby_Names.csv"

In [5]:
df = pd.read_csv(
    csv_data_path / file_name
)

In [13]:
print(df.sort_values(by=["Rank", "Gender"]))

       Year of Birth  Gender                   Ethnicity Child's First Name  Count  Rank
22              2011  FEMALE                    HISPANIC           ISABELLA    331     1
322             2011  FEMALE          WHITE NON HISPANIC             ESTHER    224     1
1090            2011  FEMALE  ASIAN AND PACIFIC ISLANDER             SOPHIA    119     1
1218            2011  FEMALE          BLACK NON HISPANIC            MADISON    176     1
2541            2011  FEMALE  ASIAN AND PACIFIC ISLANDER             SOPHIA    119     1
...              ...     ...                         ...                ...    ...   ...
75535           2014    MALE          WHITE NON HISPANIC             Marcel     10   102
76139           2014    MALE          WHITE NON HISPANIC              Denis     10   102
76142           2014    MALE          WHITE NON HISPANIC              Issac     10   102
77126           2014    MALE          WHITE NON HISPANIC               Nico     10   102
77147           2014    MALE          WHITE NON HISPANIC            Mordche     10   102

[77287 rows x 6 columns]

In [14]:
print(df.dtypes)

Year of Birth          int64
Gender                object
Ethnicity             object
Child's First Name    object
Count                  int64
Rank                   int64
dtype: object

In [25]:
electric_vehicle_data = pd.read_csv(csv_data_path / "Electric_Vehicle_Population_Data.csv")

In [ ]:
electric_vehicle_data.columns

Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year', 'Make', 'Model', 'Electric Vehicle Type', 'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range', 'Base MSRP', 'Legislative District', 'DOL Vehicle ID', 'Vehicle Location', 'Electric Utility', '2020 Census Tract'], dtype='object')

In [35]:
electric_vehicle_data

        VIN (1-10)     County       City State  Postal Code  Model Year     Make    Model                   Electric Vehicle Type  Clean Alternative Fuel Vehicle (CAFV) Eligibility  Electric Range  Base MSRP  Legislative District  DOL Vehicle ID             Vehicle Location                               Electric Utility  2020 Census Tract
0       WA1E2AFY8R   Thurston    Olympia    WA      98512.0        2024     AUDI     Q5 E  Plug-in Hybrid Electric Vehicle (PHEV)              Not eligible due to low battery range            23.0        0.0                  22.0       263239938   POINT (-122.90787 46.9461)                         PUGET SOUND ENERGY INC       5.306701e+10
1       WAUUPBFF4J     Yakima     Wapato    WA      98951.0        2018     AUDI       A3  Plug-in Hybrid Electric Vehicle (PHEV)              Not eligible due to low battery range            16.0        0.0                  15.0       318160860  POINT (-120.42083 46.44779)                                     PACIFICORP       5.307794e+10
2       1N4AZ0CP0F       King    Seattle    WA      98125.0        2015   NISSAN     LEAF          Battery Electric Vehicle (BEV)            Clean Alternative Fuel Vehicle Eligible            84.0        0.0                  46.0       184963586  POINT (-122.30253 47.72656)   CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)       5.303300e+10
3       WA1VAAGE5K       King       Kent    WA      98031.0        2019     AUDI   E-TRON          Battery Electric Vehicle (BEV)            Clean Alternative Fuel Vehicle Eligible           204.0        0.0                  11.0       259426821  POINT (-122.17743 47.41185)  PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303303e+10
4       7SAXCAE57N  Snohomish    Bothell    WA      98021.0        2022    TESLA  MODEL X          Battery Electric Vehicle (BEV)  Eligibility unknown as battery range has not b...             0.0        0.0                   1.0       208182236   POINT (-122.18384 47.8031)                         PUGET SOUND ENERGY INC       5.306105e+10
...            ...        ...        ...   ...          ...         ...      ...      ...                                     ...                                                ...             ...        ...                   ...             ...                          ...                                            ...                ...
264623  KM8KRDDF7R       King  Sammamish    WA      98074.0        2024  HYUNDAI  IONIQ 5          Battery Electric Vehicle (BEV)  Eligibility unknown as battery range has not b...             0.0        0.0                  45.0       274603444  POINT (-122.02054 47.60326)  PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303303e+10
264624  1N4BZ0CPXG       King    Seattle    WA      98199.0        2016   NISSAN     LEAF          Battery Electric Vehicle (BEV)            Clean Alternative Fuel Vehicle Eligible            84.0        0.0                  36.0       476696867  POINT (-122.40092 47.65908)   CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)       5.303301e+10
264625  7SAYGDEE4P       King     Renton    WA      98059.0        2023    TESLA  MODEL Y          Battery Electric Vehicle (BEV)  Eligibility unknown as battery range has not b...             0.0        0.0                  11.0       231020723  POINT (-122.16335 47.53505)  PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303303e+10
264626  5YJYGDEE9M       King    Redmond    WA      98052.0        2021    TESLA  MODEL Y          Battery Electric Vehicle (BEV)  Eligibility unknown as battery range has not b...             0.0        0.0                  48.0       139826809  POINT (-122.13158 47.67858)  PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303302e+10
264627  7SAYGDEE9S       King   Bellevue    WA      98004.0        2025    TESLA  MODEL Y          Battery Electric Vehicle (BEV)  Eligibility unknown as battery range has not b...             0.0        0.0                  41.0       275985356   POINT (-122.1872 47.61001)  PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303302e+10

[264628 rows x 17 columns]

In [49]:
subset = electric_vehicle_data[["Make", "Electric Range"]]

In [50]:
subset

           Make  Electric Range
0          AUDI            23.0
1          AUDI            16.0
2        NISSAN            84.0
3          AUDI           204.0
4         TESLA             0.0
...         ...             ...
264623  HYUNDAI             0.0
264624   NISSAN            84.0
264625    TESLA             0.0
264626    TESLA             0.0
264627    TESLA             0.0

[264628 rows x 2 columns]

In [52]:
grouped_subset = subset.groupby(by=["Make"]).mean()

In [53]:
grouped_subset.sort_values(by=["Make"])

                        Electric Range
Make
ACURA                         0.000000
ALFA ROMEO                   33.000000
AUDI                         37.230268
AZURE DYNAMICS               56.000000
BENTLEY                      32.375000
BMW                          28.021779
BRIGHTDROP                    0.000000
CADILLAC                      1.729212
CHEVROLET                    81.211432
CHRYSLER                     32.166236
DODGE                        28.525253
FIAT                         74.782710
FISKER                        2.260274
FORD                          7.414303
GENESIS                       0.000000
GMC                           0.000000
HONDA                        14.348673
HYUNDAI                      12.739599
JAGUAR                      182.634146
JEEP                         21.786081
KIA                          29.877190
LAMBORGHINI                  25.928571
LAND ROVER                   48.975124
LEXUS                        22.321802
LINCOLN                      24.631455
LUCID                         0.000000
MAZDA                        25.574352
MERCEDES-BENZ                15.606297
MINI                         13.616450
MITSUBISHI                   32.424613
MULLEN AUTOMOTIVE INC.        0.000000
NISSAN                       65.363046
POLESTAR                     31.457313
PORSCHE                      50.393469
RAM                           0.000000
RIVIAN                        0.000000
ROLLS-ROYCE                   0.000000
SMART                        61.717949
SUBARU                        0.624034
TESLA                        54.919960
TH!NK                       100.000000
TOYOTA                       27.956723
VINFAST                       0.000000
VOLKSWAGEN                   16.070399
VOLVO                        17.817075
WHEEGO ELECTRIC CARS        100.000000